{% extends 'blog/base.html' %}
{% block content %}
        <h1>Acerca de saeram00</h1>
        <h2>Quién soy</h2>
        <p>
          Psicólogo buscando expandir sus conocimientos al mundo de la
          tecnología y programación. Desde siempre tuve facilidad para trabajar
          con computadoras, pero solo hace poco tuve la noción de aprender
          más sobre ese mundo de forma oficial. Empecé a aprender hace 2 años,
          mi primer lenguaje de programación siendo Python, y desde entonces, he
          seguido aprendiendo sin parar hasta la fecha.
        </p>
        <h3>Intereses</h3>
        <ul class="container col col-5 mb-3 mt-1">
          <li>
            <p>
              Videojuegos: fueron mi primer acercamiento a las computadoras en
              general. Los primeros fueron "Commander Keene" y "Rayman", luego
              gran parte de mi interés se vió dirigido hacia Pokemon y los JRPG
              de esa generación. Solo tuve consolas hasta más avanzada mi vida,
              por lo que con orgullo digo que tuve que recurrir a emuladores
              la mayor parte del tiempo.
              
              Actualmente disfruto juegos desafiantes, que me hagan pensar,
              planificar, o que me hagan ocupar mi mente en general. El
              género Roguelike y Roguelite son especialmente atractivos para
              mi, a la vez que los RPGs. Especial mención hago a la saga de
              Dark Souls, cuya fama esa bien conocida entre la comunidad Gamer.
              Otros juegos que también merecen mención para mí son Hollow Knight,
              Fallout New Vegas, Darkest Dungeon, Blasphemous, Dead Cells y
              The Witcher.
            </p>
          </li>
          <li>
            <p>
              Tecnología: En los últimos 2 años he aprendido mucho, pero se que
              aún me falta demasiado por aprender. He adquirido un especial
              interés por los sistemas operativos, en especial los basados en
              Unix, pero me temo que sin la formación académica adecuada, son
              temas que me serán muy difícil de comprender profundamente por mi
              cuenta. De todas formas, Mi interés permanece, y sigo buscando
              toda la información que pueda sobre ese tema.

              Mis objetivos a futuro son aprender programación en lenguaje C,
              C++, Java, JavaScript, Go y Rust. Suena ambicioso, pero es eso
              mismo lo que lo hace una meta estimulante para mí. Estoy
              dispuesto a hacer lo necesario para llevar a cabo estas metas.
            </p>
          </li>
        </ul>
{% endblock content %}
