{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
        <h1>Editando Post: {{ post.title }}</h1>
        <div class="container container-md mb-5 col col-5">
          <form action="" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
              <legend class="border-bottom mb-4">Edite los campos que desee:</legend>
              {{ form|crispy }}
            </fieldset>
            <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Confirmar</button>
            </div>
          </form>
          <div class="pt-3">
            <a href="{% url 'Post-List' %}"><button class="btn btn-outline-danger">Cancelar</button></a>
          </div>
        </div>
{% endblock content %}
