{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
        <h1>Acceso</h1>
        <div class="container container-md mb-5 col col-5">
          <form action="" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
              <legend class="border-bottom mb-4">Ingrese sus datos:</legend>
              {{ form|crispy }}
            </fieldset>
            <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Ingresar</button>
            </div>
          </form>
          <div class="pt-3">
            <small class="text-muted">
              ¿No tienes una cuenta aún? <a class="ml-2" href="{% url 'Register' %}">Regístrate aquí</a>
            </small>
          </div>
        </div>
{% endblock content %}
